@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieDB.Models.MovieApp

<h2>Application Received, thank you!</h2>

