@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>
<div class="text-center">
    <br />
    <img src="~/img/formission6.jpg" />
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="MovieApplication">Add a Movie!</a>
</div>
